@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2em;
    text-align: center;
    margin: 90px 0 20px;
    position: relative;
    color: #24262b;
}

h2::after {
    content: "";
    display: block;
    width: 275px;
    height: 2px;
    background: #24262b;
    margin: 10px auto 0;
}

p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.1em;
}

.btn {
    width: 20%;
    height: 45px;
    background: #24262b;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 0.8em;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    display: block;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    margin: 20px auto 0;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn i {
    margin-right: 7px;
}

.btn:hover {
    background: #2D313A;
    transform: scale(1.05);
}


@media (max-width: 768px) {
    .btn {
        width: 50%;
    }
}

@media (max-width: 480px) {
    h2 {
        font-size: 1.5em;
    }

    .btn {
        width: 70%;
    }
}