{% extends "partials/base.html" %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/password/password_reset_done.css' %}">

{% endblock %}

{% block title %} Password Reset Done {% endblock %}

{% block content %}
    <div class="container">
        <h2>Password Reset Done</h2>
        <p>Your password has been set. You may go ahead or click the button below if you refuse to recover your password. <a href="{% url 'account:login' %}" class="btn"> <i class="fas fa-sign-in-alt"></i>Login Here</a></p>
    </div>
{% endblock %}