{% extends "partials/base.html" %}

{% load static %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/password/password_reset_done.css' %}">

{% endblock %}

{% block title %} Password Reset Complete {% endblock %}

{% block content %}
    <div class="container">
        <h2>Password Reset Complete</h2>
        <p> Your password has been set. You may go ahead and login now with your new password. <a href="{% url 'account:login' %}" class="btn"> <i class="fas fa-sign-in-alt"></i>Login Here</a></p>
    </div>
{% endblock %}