@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  padding: 2px;
}

.language-selector {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
}

.language-selector img {
  width: 20px;
  height: auto;
  margin-left: 10px;
}

#toggle {
    display: none;
}

.toggle-switch-label {
    width: 40px;
    height: 20px;
    border-radius: 999px;
    background: #F3F3F3;
    cursor: pointer;
    position: relative;
}


input[type=checkbox]:checked + label {
    background: #1F1F21;
}

input[type=checkbox]:checked + label .circle {
    left: 100%;
    transform: translate(-110%, -50%);
    background: #2C2C2F;
}

input[type=checkbox]:checked + label .circle .sun {
    margin-top: 150%;
    opacity: 0;
}

input[type=checkbox]:checked + label .circle .moon {
    margin-top: 0%;
    opacity: 1;
}

li {
    list-style: none;
}

a {
    position: relative;
    text-decoration: none;
    color: #bbbbbb;
    font-size: 1rem;
    transition: color 0.3s ease;
}

header {
    position: relative;
    padding: 0 4rem;
    background-color: #24262b;
    z-index: 9999;
}

.header-separator {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo {
    padding: 10px 0;
}

.logo img {
    width: 300px;
    height: 70px;
    display: block;
    margin: auto;
}

.navbar {
    width: 100%;
    height: 80px;
    max-width: 1250px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    display: none;
}

.navbar .links a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    transition: width 0.3s ease;
}

.navbar .links a:hover,
.dropdown_menu li a:hover {
    color: #ffffff;
}

.navbar .links a:hover::after {
    width: 100%;
}

    .logout-links {
    position: relative;
    text-decoration: none;
    color: #bbbbbb;
    font-size: 1rem;
    transition: color 0.3s ease;
}

.logout-links::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -5px;
    left: 0;
    background-color: #fff;
    transition: width 0.3s ease;
}

.logout-links:hover {
    color: #ffffff;
}

.logout-links:hover::after {
    width: 100%;
}

.logo a::after {
    height: 0;
}

.toggle_btn {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    gap: 8px;
}

.toggle_btn .line {
    width: 28px;
    height: 2px;
    background-color: #008fbf;
    margin: 6px 0;
    transition: transform 0.5s ease, opacity 0.2s ease;
    transform-origin: 0 0;
}

.toggle_btn.change .top_line {
    transform: rotate(45deg) translateY(-5px);
}

.toggle_btn.change .middle_line {
    opacity: 0;
    transition-delay: 0.3s;
}

.toggle_btn.change .bottom_line {
    transform: rotate(-45deg) translateY(0px);
}

.links span {
    color: #008fbf;
}

.action_btn {
    background-color: #008fbf;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2s ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a:first-child {
    border-radius: 5px 5px 0 0;
}

.dropdown-content a:last-child {
    border-radius: 0 0 7px 7px;
}

.dropdown-content a i {
    margin-right: 5px;
}

.dropdown-content a {
    color: #bbbbbb;
    padding: 12px 16px;
    text-decoration: none;
    background-color: #24262b;
    display: block;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.dropdown-content a:hover {
    color: #ffffff;
    background-color: #34363b;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-arrow {
    display: inline-block;
    border: solid #bbbbbb;
    border-width: 0 2px 2px 0;
    padding: 2px;
    transform: rotate(45deg) translateY(-50%);
    position: relative;
    transition: transform 0.3s, border-color 0.3s ease;
}

.dropdown:hover .dropdown-arrow {
    transform: rotate(-135deg) translateY(-50%);
    border-color: #ffffff;
    margin-left: 5px;
}

/* Alert */

.alert-success {
    background: #d4edda;
    padding: 20px 40px;
    min-width: 620px;
    position: fixed;
    left: 50%;
    top: 150px;
    transform: translateX(-50%);
    border-radius: 4px;
    border-left: 8px solid #28a745;
    overflow: hidden;
    opacity: 1;
    pointer-events: none;
    z-index: 99;
}

.alert-success.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert-success.show{
  animation: show_slide 1s ease forwards;
}

.alert-success.hide{
  animation: hide_slide 1s ease forwards;
}

.alert-success .fa-check {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: green;
  font-size: 30px;
}

.alert-success .msg {
  padding: 0 20px;
  font-size: 18px;
  color: lightgreen;
}

.alert-error {
  background: #f8d7da;
  padding: 20px 40px;
  min-width: 620px;
  position: fixed;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  border-radius: 4px;
  border-left: 8px solid darkred;
  overflow: hidden;
  opacity: 1;
  pointer-events: none;
  z-index: 99;

}

.alert-error.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert-error.show{
  animation: show_slide 1s ease forwards;
}

.alert-error.hide{
  animation: hide_slide 1s ease forwards;
}

.alert-error .fa-circle-xmark {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: red;
  font-size: 30px;
}

.alert-error .msg {
  padding: 0 20px;
  font-size: 18px;
  color: lightcoral
}

.alert-info {
  background: #cce5ff;
  padding: 20px 40px;
  min-width: 620px;
  position: fixed;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  border-radius: 4px;
  border-left: 8px solid blue;
  overflow: hidden;
  opacity: 1;
  pointer-events: none;
  z-index: 99;

}

.alert-info.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert-info.show{
  animation: show_slide 1s ease forwards;
}

.alert-info.hide{
  animation: hide_slide 1s ease forwards;
}

.alert-info .fa-exclamation-circle{
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: blue;
  font-size: 30px;
}

.alert-info .msg {
  padding: 0 20px;
  font-size: 18px;
  color: lightskyblue;
}

/* Dropdown Menu */

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    height: 0;
    width: 300px;
    background: #24262b;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    z-index: 9999;
}

.dropdown_menu.open {
    height: 285px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Responsive Design */

@media (max-width: 992px) {
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}