{% extends "partials/base.html" %}
{% load static humanize %}

{% block css %}

<link rel="stylesheet" href="{% static 'css/images/images_list.css' %}">

{% endblock %}

{% block title %} {{ title }} {% endblock %}

{% block content %}
{% include 'partials/navbar.html' %}

<div class="gallery-container">
     <h1 class="gallery-title"> 𝓘𝓶𝓪𝓰𝓮𝓼 𝓖𝓪𝓵𝓵𝓮𝓻𝔂  </h1>
    <ul>
        {% for image in images %}
        <li>
            <img src="{{ image.image.url }}" alt="{{ image.title }}">
            <h2>{{ image.title }}</h2>
            <p><strong>Author:</strong> {{ image.author }}</p>
            <p><strong>Description:</strong> {{ image.description }}</p>
            <p><strong>Created:</strong> {{ image.created_at|date:"F j, Y" }}</p>
            <p><strong>Subscription:</strong> {{ image.subscription }}</p>
            <div class="download-buttons">
                <a href="{{ image.png_download_url }}" class="action_btn" download>
                    <i class="fas fa-file-image"></i> PNG
                </a>
                <a href="{{ image.jpeg_download_url }}" class="action_btn" download>
                    <i class="fas fa-file-image"></i> JPEG
                </a>
            </div>
        </li>
        {% endfor %}
    </ul>
</div>

{% include 'partials/footer.html' %}

{% endblock %}

{% block js %}
<script src="{% static 'js/gallery.js' %}"></script>
{% endblock %}
