@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.login-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image-section img {
    width: 600px;
    height: 600px;
    border-radius: 20px;
}

.form-box.login {
    background-color: white;
    position: relative;
    width: 600px;
    height: 600px;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    display: block;
    margin: 150px auto;
    padding: 20px;
}

.form-box h2 {
    font-size: 2em;
    color: #24262b;
    text-align: center;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #24262b;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #24262b;
    font-weight: 500;
    pointer-events: none;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -5px;
    transition: .5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #24262b;
    line-height: 57px;
}

.remember-forgot {
    font-size: .9em;
    color: #24262b;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #24262b;
    margin-right: 3px;
}

.remember-forgot a {
    color: #24262b;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}



.btn {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 45px;
    background: #24262b;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 0.8em;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
}

.btn.auth-btn a {
    text-decoration: none;
}

.btn:hover {
    background: #2D313A;
}

.login-register {
    font-size: .9em;
    color: #24262b;
    font-weight: 500;
    margin: 25px 0 10px;
    text-align: center;
}

.login-register p a {
    color: #24262b;
    text-decoration: none;
    font-weight: 600;
}

.login-register p a:hover {
    text-decoration: underline;
}

.auth-btn {
    display: block;
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 1em;
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    margin-top: 10px;
    align-items: center;
    justify-content: center;
}

.auth-btn ion-icon {
    margin-right: 10px;
}

.or-text {
    text-align: center;
    align-items: center;
    margin: 3px 0;
    position: relative;
}

.or-text::before,
.or-text::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 45%;
    background-color: #24262b;
    top: 50%;
}

.or-text::before {
    left: 0;
}

.or-text::after {
    right: 0;
}

.google-btn {
    background: #ea0000;
}

.github-btn {
    background: #0000cd;
}

.google-btn:hover {
    background: #ff2e16;
}

.github-btn:hover {
    background: #1e90ff;
}

/* Alert */

.alert-warning {
  background: #ffdb9b;
  padding: 20px 40px;
  min-width: 620px;
  position: fixed;
  left: 50%;
  top: 150px;
  transform: translateX(-50%);
  border-radius: 4px;
  border-left: 8px solid #ffa502;
  overflow: hidden;
  opacity: 1;
  pointer-events: none;
  z-index: 99;

}

.alert-warning.showAlert {
  opacity: 1;
  pointer-events: auto;
}

.alert-warning.show{
  animation: show_slide 1s ease forwards;
}

.alert-warning.hide {
  animation: hide_slide 1s ease forwards;
}

.alert-warning .fa-circle-exclamation {
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #ce8500;
  font-size: 30px;
}

.alert-warning .msg {
  padding: 0 20px;
  font-size: 18px;
  color: #ce8500;
}

/* Responsive Design */

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
    }

    .image-section {
        display: none;
    }

    .form-box.login {
        width: 100%;
        height: auto;
    }

    .centered-content {
        font-size: 20px;
        margin-top: 30px;
    }

    .entrants-container p {
        font-size: 16px;
        margin-left: 20px;
    }

    .entrants-container ul {
        margin-left: 20px;
    }

    .entrants-container li a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {

    .centered-content {
        font-size: 16px;
        margin-top: 20px;
    }

    .entrants-container p {
        font-size: 14px;
        margin-left: 10px;
    }

    .entrants-container ul {
        margin-left: 10px;
    }

    .entrants-container li a {
        font-size: 14px;
    }

    .form-box h2 {
        font-size: 1.5em;
    }

    .input-box {
        height: 40px;
        margin: 20px 0;
    }

    .input-box label {
        font-size: 0.9em;
    }

    .input-box .icon {
        font-size: 1em;
        line-height: 40px;
    }

    .remember-forgot {
        font-size: 0.8em;
    }

    .btn, .auth-btn {
        height: 35px;
    }
}
